{% extends 'base.html.twig' %}

{% block title %}Hello AdvantageController!{% endblock %}

{% block body %}
<section id="works">
    <div class="container">
        <div class="divider"></div>
        <div class="row divide">
            <div class="span10 offset1 m-t-50">
                <h3>Pourquoi gérer seul son bien?</h3>
                <p class="center lead">Optimisez <b>votre rendement locatif</b> et évitez de payer des frais inutiles !<br>
                    Vous pouvez vous occuper de A à Z de la location de votre bien immobilier.  Pourquoi ? Parce que vous y <b>gagnez en rentabilité</b> en réduisant les frais de gestion mais aussi parce <b>qu'aucun professionnel de l’immobilier ne prendra autant de soin</b> que le propriétaire à tout bien gérer.<br></p>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="divider"></div>
        <div class="row divide">
            <div class="span10 offset1 m-t-50">
                <h3>Pourquoi choisir Rentila ?</h3>
                <p class="center lead">Nous sommes <b>les moins chers, les plus dynamiques, très à l'écoute et hyper sympa</b>...
                    Rentila est noté <b>4.8</b> <span aria-hidden="true" class="icon-star orange"></span> <span aria-hidden="true" class="icon-star orange"></span> <span aria-hidden="true" class="icon-star orange"></span> <span aria-hidden="true" class="icon-star orange"></span> <span aria-hidden="true" class="icon-star orange"></span> de 5  d'après plus de 1000 utilisateurs.
                </p>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row divide">
            <div class="span10 offset1">
                <div class="cards">
                    <div class="fact-card-component">
                        <div class="fact-details-wrapper">
                            <div class="card-component card-green">
                                <div class="fact-details-component">
                                    <div class="title">
                                        97%
                                    </div>
                                    <div class="content">
                                        <div>
                                            de nos clients affirment <b>gagner en efficacité et en productivité</b>.
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="fact-quote-wrapper">
                            <div class="card-component">
                                <div class="fact-quote-component">
                                    <div class="content-container">
                                        <blockquote class="lead"><i class="icon-quote"></i>"Ce site est un vrai bonheur pour les particuliers bailleurs et m'aide énormément ! A recommander!"</blockquote>
                                        <cite><b>Pierre</b>,  Nîmes, France</cite>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="fact-card-component">
                        <div class="fact-details-wrapper">
                            <div class="card-component card-orange">
                                <div class="fact-details-component">
                                    <div class="title">
                                        83%
                                    </div>
                                    <div class="content">
                                        <div>
                                            de nos clients affirment que Rentila les <b>aide à apprendre et à mieux gérer</b>.
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="fact-quote-wrapper">
                            <div class="card-component">
                                <div class="fact-quote-component">
                                    <div class="content-container">
                                        <blockquote class="lead"><i class="icon-quote"></i>"Je tiens a vous dire un grand merci pour votre site et félicitations car j'y ai appris énormément de choses. Bravo!"</blockquote>
                                        <cite><b>Francine</b>,  Paris, France</cite>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="fact-card-component">
                        <div class="fact-details-wrapper">
                            <div class="card-component card-blue">
                                <div class="fact-details-component">
                                    <div class="title">
                                        67%
                                    </div>
                                    <div class="content">
                                        <div>
                                            de nos clients <b>recommandent Rentila à leur entourage</b> !
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="fact-quote-wrapper">
                            <div class="jsx-1494219560 card-component">
                                <div class="fact-quote-component">
                                    <div class="content-container">
                                        <blockquote class="lead"><i class="icon-quote"></i>"Rentila c'est génial je fais de la pub à tout mon entourage. Merci à toute votre équipe !"</blockquote>
                                        <cite><b>Luc</b>,  Paris, France</cite>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>


    <div class="container">
        <div class="divider"></div>
        <div class="row divide">
            <div class="span10 offset1 m-t-50">
                <h3>Des outils professionnels à votre disposition</h3>
            </div>
        </div>
        <div class="row">
            <div class="span8 offset2 m-b-30">

                <p class="lead"> <span aria-hidden="true" class="icon-checkmark green"></span> &nbsp; Le modèle de <b>contrat de location</b> vous est mis à disposition.</p>
                <p class="lead"> <span aria-hidden="true" class="icon-checkmark green"></span> &nbsp; Etablir <b>un état des lieux</b> c'est facile avec Rentila.</p>
                <p class="lead"> <span aria-hidden="true" class="icon-checkmark green"></span> &nbsp; Les <b>quittances de loyer</b> sont générées automatiquement et partagées avec le locataire.</p>
                <p class="lead"> <span aria-hidden="true" class="icon-checkmark green"></span> &nbsp; La <b>gestion et suivi des travaux</b> est facile avec notre module dédié.</p>
                <p class="lead"> <span aria-hidden="true" class="icon-checkmark green"></span> &nbsp; Notre module Finances vous aide avec <b>votre comptabilité</b>.</p>
                <p class="lead"> <span aria-hidden="true" class="icon-checkmark green"></span> &nbsp; Nous vous préparons aussi une <b>aide à déclaration fiscale</b>.</p>
                <p class="lead"> <span aria-hidden="true" class="icon-checkmark green"></span> &nbsp; Une vaste selection de <b>modèles de lettres</b> mise à votre disposition.</p>
                <p class="lead"> <span aria-hidden="true" class="icon-checkmark green"></span> &nbsp; Notre veille immobilière vous informe de <b>l'évolution du marché immobilier</b>.</p>
            </div>
        </div>
    </div>

</section>
{% endblock %}
