{# templates/bundles/TwigBundle/Exception/error404.html.twig #}
{% extends 'base.html.twig' %}

{% block body %}
    <h1>Page non trouvée </h1>

    <p>
        La page que vous cherchez n'a pas été trouvée <a href="{{ path('homepage') }}">return to the homepage</a>.
    </p>

    <p>
        Code de l'erreur : {{ status_code }}
    </p>

    <p>
        Message de l'erreur : {{ status_text }}
    </p>
{% endblock %}