{# templates/bundles/TwigBundle/Exception/error404.html.twig #}
<!DOCTYPE html>
<html lang="">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}404{% endblock %}</title>
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}
</head>

{% block body %}


<div id="notfound">
    <div class="notfound">
        <div class="notfound-404">
            <h1>4<span></span>4</h1>
        </div>
        <h2>Oops! Page introuvable</h2>
        <p>Désolé mais la page que vous recherchez n'existe pas, a été supprimée. le nom a changé ou est temporairement indisponible</p>
        <a href="{{ path('homepage') }}">retour vers l'accueil</a>
    </div>
</div>



{% endblock %}